<% title 'Property Sites', :body => true %>

<%= link_to 'Add New Property Group', new_property_group_url %>

<table>
  <thead>
    <th>Property Group Name</th>
    <th>City, State</th>
    <th>Phone Number</th>
    <th>Fax Number</th>
    <th>Property Manager</th>
  </thead>
  <tbody>
    <% @property_groups.each do |property_group| %>
     <tr>
      <td><%= property_group.name         %></td>
      <td><%= property_group.city         %></td>
      <td><%= property_group.phone_number %></td>
      <td><%= property_group.fax_number   %></td>
      <td><%= link_to 'Edit', edit_property_group_url %></td>
     </tr>
    <% end %>
  </tbody>
</table>