<% title @user.full_name  %>

<style>
  div {
    margin-bottom:15px;
  }
</style>

<p><%= link_to 'View All Artists', users_path %></p>

  
<div>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</div>

<div>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</div>

<div>
  <strong>Email:</strong>
  <%= @user.email %>
</div>

<div>
  <strong>Phone Number:</strong>
  <%= @user.phone_number %>
</div>

<div>
  <strong>Licensed?</strong>
  <%= @user.licensed? ? "Yes" : "No" %>
</div>

<div>
  <strong>License Date:</strong>
  <%= @user.license_date %>
</div>


<div>
  <strong>What is your biggest inspiration?</strong>
  <%= @user.career_inspiration %>
</div>


<div>
  <strong>How long have you been tattooing?</strong>
  <%= @user.how_long_have_you_been_tattooing %>
</div>

<div>
  <strong>How do you bill work?</strong>
  <%= @user.billing %>
</div>


<div>
  <strong>How did you learn tattooing?</strong> <%= @user.how_did_you_learn_tattooing %>
</div>


<div>
  <strong>Name of Studio or Mentor:</strong> <%= @user.studio_or_mentor %>
</div>

<div>
  <strong>My Studio Name:</strong> <%= @user.studio %>
</div>

<div>
  <strong>Facebook Page:</strong> <%= @user.facebook_page %>
</div>

<div>
  <strong>Twitter Page:</strong> <%= @user.twitter_page %>
</div>

<div>
  <strong>Address:</strong>  <%= "#{@user.address}, #{@user.city} #{@user.postal_code}"  %>
</div>

<div>
  <strong>Number Of Awards:</strong> <%= @user.total_awards %>
</div>

<div>
  <strong>Tattoo Speciality:</strong> <%= @user.tattoo_style %>
</div>

<div>
  <strong>Other Services:</strong> <%= @user.services.map{|t| t.service.name}.join(', ') %>
</div>

<div>
 Suggestions: <%= @user.feedback %>
</div>


<% @user.photos.each do |photo| %>
  <div>
     <%= image_tag photo.attachment.url %>
  </div>
<% end %>






